body {
    font-family: Arial;
    margin: 40px;
}

#phrase {
    padding: 10px;
    font-size: 20px;
    background: #eee;
    border-radius: 5px;
}

#typingBox {
    width: 100%;
    height: 120px;
    margin-top: 20px;
    font-size: 18px;
}

#status {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}